{% extends 'admin/base.html.twig' %}

{% block title %}
Modifications de l'annonce
{% endblock %}

{% block body %}

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">



<h1>
	Modification de l'annonce
	{{ ad.title }}
</h1>

<div class="container">
	{{ form_start(form) }}
	<div class="row">
		<div class="col">
			<div class="card bg-light"></div>
			<div class="card-header">
				<div class="card-title">Corriger l'annonce</div>
			</div>
			<div class="card-body">
				{{ form_widget(form) }}
				<button class="btn-primary" type="submit">
				<i class="fas fa-check"></i>
				Enregistrer</button>
				{{ form_end(form) }}
			</div>

		</div>
		<div class="col">
			<div class="card bg-light">
				<div class="card-header">
					<h4 class="card-title">Les reservations de cette annonce</h4>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<td>Id</td>
								<td>Voyageur</td>
								<td>Date de reservation</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% for booking  in ad.bookings  %}
							<tr>
								<td>{{ booking.id }}</td>
								<td>{{ booking.booker.fullName }}</td>
								<td>{{ booking.createdAt| date('d/m/Y') }}</td>
								<td><a href="" class="btn btn-primary"><i
										class="fas fa-pen"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>

			</div>

		</div>
	</div>




	


</div>

{% endblock %}