{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonce{% endblock %}

{% block body %}
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<div class="fluid">
	<h1 class="my-5">Gestion des Annonces</h1>
	<table class="table table-hover ">
	<thead class="">
		<tr>
			<th>Id</th>
			<th>Titre</th>
			<th>Auteur</th>
			<th>Reservations</th>
			<th>Note</th>
			<th>Actions</th>
			
		</tr>
	</thead>
	<tbody>
		{% for ad in ads %}
		<tr>
			<td>{{ad.id}}</td>
			<td>{{ad.title}}</td>
			<td><img src="{{ad.author.picture}}" alt="" class="avatar avatar-micro mr-2" style="max-height: 30px;max-width: 30px"/>{{ad.author.fullName}}</td>
			<td><span class="badge badge-primary rounded">{{ad.bookings | length}}</span></td>
			<td>pas encore</td>
			<td>
			<a href="{{path('admin_ads_edit',{'id':ad.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
			<a href="{{path('admin_ads_delete',{'id':ad.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
			</td>
		</tr>
		{% endfor %}
		
	</tbody>
	
	
	</table>

	{% include "admin/partials/pagination.html.twig"
	with {'route':'admin_ads_index'} %}


</div>

{% endblock %}
