
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Connexion de l'administrateur</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<style>
</style>
</head>
<body style="">
	<div class="row ">
		<div class="col md-4">
			<div class="cardg-light">
				<div class="card-hedear">
					<h4 class="card-title">
						<i class="fas fa-lock"></i> Connection de l'adminstrateur
					</h4>

				</div>
				<div class="card-body">
				{% if hasError %}
				
						<div class="alert alert-warning"><p>invalid email ou password</p></div>
				{%endif%}
				
					<form method="post">
						<div class="form_group">
							<label for="_username">Email</label> <input type="text"
								class="form-control" placeholder="Emaile" name="_username" value="{{username}}" />
						</div>
						<div class="form_group">
							<label for="_password">Mot de passe</label> <input type="password"
								class="form-control" placeholder="password" name="_password" />
						</div>

						<div class="form-group">
							<button type=submit class="btn btn-primary">
								<i class="fas fa-lock-open"></i> Connection
							</button>
							<a href="{{path('accueil')}}" class="btn btn-link"> <i
								class="fas fa-arrow-circle-left"></i> Retour au site
							</a>

						</div>
					</form>

				</div>


			</div>
		</div>
	</div>
</body>
</html>