{% extends 'base.html.twig' %}

{% block title %}Toute vos reservations {% endblock %}

{% block body %}
<div class="container">
	<h1 class="my-5">Mes reservation</h1>
	<div class="alert alert-info mt-5">
		<p>Retrouvez ce-dessous toutes vos reservations :</p>
	</div>
	
	{% for booking in app.user.bookings %}
		<div class="row mt5">
			<div class="col-4">
				<img src="{{booking.ad.coverImage}}" alt="" class="img-fluid"/>

				<div class="mt-3">
					{% set comment = booking.ad.commentFromAuthor(app.user) %}
					{% if comment is not null %}
						<strong>Note donnée :</strong>
						{% include "partials/rating.html.twig"
						with {'rating': comment.rating} %}
					{% else %}
						Vous n'avez pas encore donnee de note.
						<a href="{{ path('booking_show',
						{'id':booking.id}) }}#comment" class="btn btn-link">
						Je donne mon avis !</a>
					{% endif %}
				</div>
			</div>
			<div class="col-8">
				<h4>{{booking.ad.title}}</h4>
				
				<p> Reeservation N°{{booking.id }}<br />
				Du {{booking.startDate|date('d/m/Y')}}  au
				{{booking.endDate|date('d/m/Y')}} ({{booking.amount | number_format(2,',',' ' )}}) &euro;
				
				 </p>
				 <a href="{{path('booking_show',{'id':booking.id})}}" class="btn btn-info">
				 Plus d'info</a>
			</div>
		</div>
	
	{% endfor %}

</div>

{% endblock %}

