{% extends 'base.html.twig' %} {% block title %}Connection au site !{%
endblock %} {% block body %}

<div class="container">

	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-6">
			<div class="bg-light py-3 px-3">
				<h1>Connectez vous !</h1>
				{% if hasError %}

				<div class="alert alert-danger alert-dismissible fade show"
					role="alert">
					Wrong email or password!!!
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				{% endif %}



				<form action="{{path('account_login')}}" method="post">
					<div class="form-group">
						<label for="email">Email address</label> <input type="email"
							name="_username" class="form-control" id="email"
							placeholder="Enter email" required value="{{username}}"> <small id="emailHelp"
							class="form-text text-muted">We'll never share your email
							with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="Password">Password</label> <input type="password"
							class="form-control" name="_password" id="password"
							placeholder="Password" required value="">
					</div>

					<button type="submit" class="btn btn-success">Connexion</button>
				</form>

			</div>

		</div>

	</div>

</div>
{% endblock %}
