{% extends 'base.html.twig'%}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
<div class="container">

    <h1 class="my-5"> Modification de mot de passe :</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-info">
    <i class="fas fa-check"></i>
    Modifie le mot de passe</button>
    {{form_end(form)}}

</div>


{% endblock %} 