{% extends 'base.html.twig'%}

{% block title %}Modification du profil{% endblock %}

{% block body %}
<div class="container">

    <h1 class="my-5" > Modification du profile :</h1>
    {{form_start(form)}}

    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2 class="alert-heading">Informations generales</h2>
                <hr>
                {{form_row(form.firstName)}}
                {{form_row(form.lastName)}}
                {{form_row(form.email)}}
                {{form_row(form.picture)}}
            </div>
        </div>
        <div class="col">
             <div class="alert alert-light">
                <h2 class="alert-heading">Details :</h2>
                <hr>
                {{form_row(form.introduction)}}
                {{form_row(form.description | raw)}}
                <button type="submit" class="btn btn-info mt-5">
                <i class="fas fa-check"></i>
                Enregistrer les modification</button>
        </div>
    </div>

    
   
    {{form_end(form)}}
</div>


{% endblock %} 