

div.ad-title h1,div.ad-title p{
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.ad-title{
	padding: 2em;
	background-size: cover;
	background-position: center center;
}

div.ad-title .btn{
	margin-top: 2em;
	font-size: 1.4em;
	line-height: 1.4em;
}

div.container{
	margin-top: 20px;
}

div.carossel-caption{
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar{
	max-width: 128px;
	max-height: 128px;
	border-radius: 50%;
}

.avatar-medium{
	max-width: 64px;
	max-height: 64px;
}

.avatar-mini{
	max-width: 24px;
	max-height: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
	
	color: red !important ;
}


span.rating i{
	color: goldenrod;
}

.alert a{
	text-decoration: none;
}

.alert .btn{
	color: white;
}
