{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminBookingController!{% endblock %}

{% block body %}

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<div class="container-fluid">
    <h1>Administration des reservation :</h1>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Date</th>
            <th>Visiteur </th>
            <th>Annonce</th>
            <th>Durée</th>
            <th>Montant</th>
            <th></th>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td> {{ booking.createdAt | date }} </td>
                    <td>
                        {{booking.booker.fullName}}
                        <img class="img rounded-circle" src="{{ booking.booker.picture }}" alt="{{booking.booker.fullName}}" style="width: 45px;heaight: 45px;">
                    </td>
                    <td>{{ booking.ad.title }}</td>
                    <td>{{ booking.getDuration }}</td>
                    <td> {{booking.Amount}} </td>
                    
                    
                    <td>
                        <a href="#" class="btn btn-info" ><i class="fas fa-edit "></i></a>
                        <a href="#" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "admin/partials/pagination.html.twig"
	with {'route':'admin_booking'} %}
</div>
{% endblock %}
