{% extends 'base.html.twig' %}

{% block title %}
reserver l'annonce
{{ ad.title }}

{% endblock %}


{%   block stylesheets  %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

{% endblock %}


{% block body %}

<div class="container">
	<h1>
		Reserver l'annonce
		<em>{{ ad.title }}</em>
	</h1>
	<p>
		Vous etes sur le point de reserver le bien de <strong>{{ ad.author.fullName }}</strong>
		,dites nous tout on s'uccupe du reste !
	</p>

	{{ form_start(form) }}
	<div class="alert alert-light">
		<h4>Dites nous les dates qui vous interessent !</h4>


		<div class="row ">
			<div class="col">
				{{ form_row(form.startDate) }}
			</div>

			<div class="col">
				{{ form_row(form.endDate) }}
			</div>

		</div>
		<h4 class="mt-3">Montant du sejour : <span id="amount">...</span> &euro;</h4>
	<span id="days">...</span> nuit(s) à {{ ad.price | number_format(2,',',' ' ) }}&euro; / nuit
	
	<h2 class="mt-3">Si vous avez un commantaire  !</h2>
	{{ form_row(form.comment) }}
	

	</div>
	
	
	<h2 class="mt-3" >vous avez terminé</h2>
	
	<button type="submit" class="btn btn-success">Reservez</button>
	
	{{ form_end(form) }}
	
</div>
{% endblock %}





{%   block javascripts  %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" ></script>
 
 <script> 

$(document).ready(function(){
	$('#booking_startDate, #booking_endDate').datepicker({
		format: 'dd/mm/yyyy',
		datesDisabled:[{% for day in ad.NotAvailableDates %}
								"{{ day.format('d/m/Y') }}",				
		                {% endfor %},
		               
		],
		 startDate: new Date()
	
		});
	$('#booking_endDate,#booking_startDate').on('change',calculateAmount);
})


function calculateAmount(){
	//On chope les dates
 //  
	const endDate=new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
	const startDate=new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
	
	if(startDate && endDate && startDate < endDate){
		const interval=endDate.getTime()-startDate.getTime();
		const days= interval/(24*60*60*1000);
		const amount=days*{{ ad.price }};
		
		$('#days').text(days);
		$('#amount').text(amount);
		
	}
	
}


  </script>
 
{% endblock %}



