{% extends 'base.html.twig' %}

{% block title %}
Reservation n°{{ booking.id }} 
{% endblock %}

{% block body %}
{% set ad =booking.ad %}
{% set author =ad.author %}


<div class="container">
	<h1 class="my-5">Votre reservation n°{{ booking.id }}     </h1>
	
	{% if app.request.query.get('withAlert') %}
	
	<div class="alert alert-success">
	<h4 class="alert-heading">Bravo !</h4>
	<p>Votre reservation aupres de 
		<strong>
			<a href="{{path('user_show',{'slug':author.slug})}}">{{author.fullName}} </a>
		</strong>pour l'annonce: 
		<strong>
			<a href="{{path('ads_show',{'slug':ad.slug})}}">{{author.fullName}} </a>
		</strong>a bien été prise en compte
	</p>
	
	</div>
	
	{% endif %}

	<div class="row">
		<div class="col">
			<div class="alert alert-light">
				<h2>Details</h2>
				<dl class="row">
					<dt class="col-md-4">Numero</dt>
					<dd class="col-md-8">{{ booking.id }}</dd>
					<dt class="col-md-4">Date d'arrivée</dt>
					<dd class="col-md-8">{{ booking.startDate | date('d/m/y') }}</dd>
					<dt class="col-md-4">Date de depart</dt>
					<dd class="col-md-8">{{ booking.endDate | date('d/m/y') }}</dd>
					<dt class="col-md-4">Nombre de nuits</dt>
					<dd class="col-md-8">{{booking.duration}}</dd>
					<dt class="col-md-4">Montant total</dt>
					<dd class="col-md-8">{{ booking.amount | number_format(2,',',' ' )}} &euro;</dd>
					<dt class="col-md-4">Commentaire</dt>
					<dd class="col-md-8">{{ booking.comment |default('Aucun commantaire') }}</dd>
				</dl>
				<hr>
				
				<h2 class="alert-heading">Votre hote</h2>
				
				
				<div class="row mb-3">
					<div class="col-3">
						<img src="{{author.picture}}" class="avatar avatar-midium">
					</div> 
					<div class="col">
						<h4><a href="{{path('user_show',{'slug':author.slug})}}">
						{{author.fullName }}</a></h4>
						<span class="badge badge-primary">{{author.ads|length}} annonces</span>
					
					</div>
					
				</div>
				{{author.description|raw}}
					<a class="btn btn-primary" href="{{path('user_show',{'slug':author.slug})}}">
						plus d'infos sur {{author.firstName }}</a>
				
			</div>

			<div class="alert alert-light" id="comment">
				<h2 class="alert-heading">Votre avis compte !</h2>
				{% if date() > date(booking.endDate) %}
					{% set comment = booking.ad.commentFromAuthor(app.user) %}
					{% if comment is not null %}
						<blockquote>
							{{comment.content}}						
						</blockquote>	
						<strong>Note :</strong>
						{% include "partials/rating.html.twig" 
						with { 'rating':comment.rating } %} 
					{% else %}
						{{form_start(form)}}
						{{form_widget(form)}}
						<button type="submit" class="btn btn-success">Commenter</button>
						{{form_end(form)}}
					{% endif %}	

				{% else %}
					<p>	Vous ne pourrez pas noter cette annonce tant que 
						votre reservation n'est pas terminer!!
					</p>
				{% endif %}
			</div>		



		</div>
		
		
		<div class="col">
			<div class="alert alert-light">
			<h2 class="alert-heading">Votre hebergement:</h2>
			
			<h4> 
				<a class="btn btn-primary" href="{{path('ads_show',{'slug':ad.slug})}}">
						{{ad.title }}</a>
			</h4>
			<img alt="image de {{ad.title}}" src="{{ad.coverImage}}" class="img-fluid">
			{{ad.content|raw}}
			
			<a class="btn btn-primary" href="{{path('ads_show',{'slug':ad.slug})}}">
						plus d'informations</a>
			</div>
		
		</div>


	</div>


</div>


{% endblock %}