<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>IMINE-{% block title %}{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">


<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
{% block stylesheets %}

{% endblock %}
</head>
<body>
{% include '/partials/header.html.twig' %}



	{% block body %}
	{% endblock %}


	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	{% block javascripts %}
	{% endblock %}
	
	
	
	{% include '/partials/footer.html.twig' %}
</body>
</html>
