{% extends 'base.html.twig' %}

{% block title %}
Home
{% endblock %}


{% block body %}
<div class="container">
	<div class="jumbotron mt-3">
		<h1 class="display-3">Bienvenue sur IMINE</h1>
		<p class="lead">Nous mettons en relations les voyageurs et les
			propriétaires qui veulent profiter d'opportunités et gagner de
			l'argent en proposant leur bien a la location!</p>
		<hr class="my-4">
		<p>Vous etes voyageurs!!! Et vous voulez voir ou vous pourrez
			loger pour votre prouchain déplacement????</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos
				annonces</a>
		</p>
	</div>

	<h2 class="h1 my-5">Nos meilleures appartements</h2>

	<div class="row">
	{% for data in ads %}
		{% include "ad/_ad.html.twig" with {'ad':data.annonce} %}
	{% endfor %}
	</div>

	<h2 class="h1 my-5">Nos meilleures proprietaires</h2>


	<div class="row">
		{% for data in users %}
		<div class="col">
			<div class="card border-secondary mb-3">
				<div class="card-body">
					<h4 class="card-title">{{data.user.fullName}}</h4>

					<hr>

					<div class="card-text">
						<img class="float-left mr-3" src="{{data.user.picture}}"
							alt="avatar de {{data.user.fullName}}">
						<p>{{ data.user.introduction }}</p>
						<a class="btn btn-success float-right" href="{{ path('user_show',{'slug':data.user.slug}) }}">Savoir plus</a>
					</div>

				</div>
			</div>

		</div>

		{% endfor %}
	</div>

</div>




{% endblock %}

