{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce {% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

<div class="container">
	<h1>Modifier l'annonce</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}

</div>

{% endblock %}





{% block javascripts %}
<script src="/js/ad.js" >
	
</script>

{% endblock %}


