{% extends 'base.html.twig' %}

{% block title %}Page not found {% endblock %}

{% block body %}

<div class="container">
    <h1>Ooops!!! Page not found</h1>

    <p>
       On a surement du mal a vous renseigner , aucun soucu vous pouvez
       returner z l'accueil pour voir nous derniers annonces
         <a class="btn btn-primary" href="{{ path('ad_index') }}"> return to the homepage</a>.
    </p>
    
</div>
{% endblock %}