{% extends 'base.html.twig' %}

{% block title %}Page not found {% endblock %}

{% block body %}

<div class="container">
    <h1>Alors?? Vous essayez de bousiller le site !!</h1>

    <div class="alert alert-danger">
    Vous n'avez pas le droit d'acceder a cette ressource !!
    </div>
      
         <a class="btn btn-primary" href="{{ path('ad_index') }}"> return to the homepage</a>.
    
    
</div>
{% endblock %}