{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminCommentsController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifie le commentaire N {{comment.id}} :</h1>
    <div class="jumbotron bg-primary">
        <p><strong>Annonce : </strong>{{comment.ad.title}}</p>
        <p><strong>Author : </strong>{{comment.author.fullName}}</p>
        <p><strong>Date :</strong>{{comment.createdAt | date}}</p>
        
        <p><strong>Note : </strong>{{comment.rating}}</p>
    </div>


    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary"> Enregistrer</button>
    {{form_end(form)}}
</div>
{% endblock %}