{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminCommentsController!{% endblock %}

{% block body %}
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<div class="container-fluid">
    <h1>Administration des commentaires</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Author</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Annonce</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{comment.id}}</td>
                <td>{{comment.createdAt | date}}</td>
                <td>
                    {{comment.author.fullName}}
                    <img class="img rounded-circle" src="{{comment.author.picture}}" alt="{{comment.author.fullName}}" style="width:40px;heaight:40px;">
                </td>
                <td>{{comment.content}}</td>
                <td> <span class="badge badge-dark rounded">{{comment.rating}}</span></td>
                <td>{{comment.ad.title}}</td>
                <td>
                    <a href="{{ path('admin_comments_edit',{'id':comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
			        <a href="{{ path('admin_comments_delete',{'id':comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
     {% include "admin/partials/pagination.html.twig"
    	with {'route':'admin_comments'} %}

</div>

{% endblock %}
